.header {
  text-align: center;
  height: 70px;
  font-size: 48px;
  margin-bottom: 25px; }

.hero {
  background: url("./images/hero.jpg");
  width: 100%;
  height: 400px;
  padding: 30px 40px;
  color: #ffffff;
  font-size: 24px;
  font-family: 'Ubuntu Mono', monospace; }

.graphics {
  margin: 0 auto;
  width: 150px; }

.heroCharacter {
  display: inline-block;
  background: url("./images/character.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80px;
  height: 80px;
  margin-right: 10px; }

.heroHeart {
  display: inline-block;
  background: url("./images/pixel_heart.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 60px;
  height: 60px; }

.heroDescription {
  text-align: center;
  width: 50%;
  margin: 20px auto;
  font-size: 32px; }

.heroSignup {
  margin: 40px auto 0;
  width: 150px; }

.sidebar {
  display: inline-block;
  vertical-align: top;
  left: 0;
  min-width: 120px;
  width: 16%; }

.main {
  width: 70%;
  padding: 6%;
  display: inline-block;
  vertical-align: top; }

.codeWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.codeSnippet {
  width: 48%; }

.codeSnippetTitle {
  color: #ffffff;
  background: #333;
  font-family: monospace;
  font-size: 13px;
  padding: 4px 10px;
  border-bottom: 1px solid #333; }

.codeSnippetDetails {
  flex: 1 1 auto;
  background: #444444;
  padding: 15px 20px; }
  .codeSnippetDetails pre {
    margin-bottom: 0; }
    .codeSnippetDetails pre code {
      color: white !important; }

.codeStyle {
  color: white !important; }

.menu {
  padding: 15px; }

.menuItem {
  display: block;
  padding: 5px 8px;
  margin: 5px 15px;
  border-left: 3px solid #f1f1f1; }
  .menuItem:hover {
    border-left: 3px solid #bbbbbb; }
  .menuItem a {
    color: #2c2c2c;
    text-decoration: none; }

.menuLink {
  color: #2c2c2c;
  text-decoration: none; }
  .menuLink:hover {
    border-left: 3px solid #bbbbbb; }

.endpointSection {
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px dashed #aaaaaa; }

.endpoint {
  background: #ededed;
  border-left: 7px solid #5D9FCD;
  border-bottom: 1px solid #aaaaaa;
  padding: 10px 15px 8px; }

.endpointDetails {
  background: #f4f4f4;
  padding: 15px; }

.demo {
  position: relative;
  margin: 20px 0 10px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #888888;
  min-height: 160px; }

.heart {
  background: url("./images/pixel_heart.png");
  background-size: contain;
  width: 64px;
  height: 55px;
  margin: 34px auto; }

.bpm {
  width: 160px;
  height: 55px;
  margin: 20px auto;
  text-shadow: 0 1px 1px #999;
  font-size: 64px;
  font-weight: bold;
  color: #fe0000; }

.bpmUnits {
  color: #222222;
  font-size: 20px;
  margin-left: -13px; }

.nervous {
  text-align: center;
  margin-top: 15px; }
  .nervous div {
    display: inline-block;
    font-size: 28px;
    font-weight: bold;
    color: #ccc;
    padding: 35px; }

.nervousDiv {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  color: #ccc;
  padding: 35px; }

div.nervousSelected {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  padding: 35px;
  color: #fe0000;
  text-shadow: 0 1px 1px #999; }

/*# sourceMappingURL=index.css.map */
